*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-height: 450px;
    overflow: hidden;
}
.outerpart-view{
    display: flex;
    align-items: baseline;
    justify-content: center;
    min-height: auto;
    max-height: 500px;
    background-image: url('../../Assets/background.png');
    overflow: hidden;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    right: 15%;
}

.imageanimate {
    position: relative;
    width: 400px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rightMask {
    display: flex;
    background: transparent;
    width: 340px;
    height: 500px;
    position: absolute;
    right: -35%;
    overflow: hidden;
}
.leftMask {
    display: flex;
    background: transparent;
    width: 340px;
    height: 500px;
    position: absolute;
    left: -35%;
    overflow: hidden;
}

.center-image {
    position: absolute;
    left: 60%;
    animation: MoveUpDown 3s linear infinite;
    z-index: 3;
    top: 50%;
    transform: translate(-50%, -50%);
}

@keyframes MoveUpDown
{
    0%, 100% {
        bottom: 5px;
      }
      50% {
        bottom: 30px;
      }
}


.box-right{
    position: absolute;
    width: 400px;
    height: 300px;
    animation: animate 15s linear infinite;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box{
    position: absolute;
    width: 400px;
    height: 300px;
    animation: animate 15s linear infinite;
    top: 25%;
    left: -50%;
    transform: translate(-50%, -50%);
}
@keyframes animate
{
    0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
}

.img{
position: relative;
left: -50%;
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
}



.img .imgBx{
    position: absolute;
    width: 80px;
    height: 80px;
    /* border-radius: 50%; */
    box-shadow: 0 0 0 2px #fff;
    transform: rotate(calc(360deg/8 * var(--i)));
    transform-origin: 250px;
}
.img .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border-radius: 50%;
    transform: rotate(calc(-360deg/8 * var(--i)));
    animation: animateImgBx 15s linear infinite; */
}

.hole-line {
    display: flex;
    background: #000;
    width: 100px;
    height: 145px;
    border-radius: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}


/* @keyframes animateImgBx
{
    0%
    {
        rotate: 0deg;
    }
    100%
    {
        rotate: -360deg;
    }
} */

@media screen and (min-width:750px) and (max-width:1440px)  {
    
}

@media screen and (max-width:769px) {
    
}